<li>
  <%= link_to "Back", keywords_path %>
</li>
<h1><%= @keyword.word %></h1>
<p>
  Scraped At:
  <%= time_tag @keyword.updated_at %>
<p>
<ul>
  <li>
    <strong>Total Adwords</strong> <span><%= number_with_delimiter @keyword.total_adword %> links</span>
  </li>
  <li>
    <strong>Total Links</strong> <span><%= number_with_delimiter @keyword.total_link %> links</span>
  </li>
  <li>
    <strong>Total Results</strong> <span><%= number_with_delimiter @keyword.total_result %> items</span>
  </li>
  <li>
    <strong>Total Search Times</strong> <span><%= number_with_delimiter @keyword.total_search_time %> Sec</span>
  </li>

  <h2>Cached page</h2>
  <iframe title="Cached page" srcdoc='<%= @keyword.html %>' width="100%" height="800px" loading="lazy"></iframe>
</ul>