<!DOCTYPE html>
<html>
  <head>
    <title>KeywordManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless notice.nil? %>
      <p class="text-white bg-teal-500 p-2 text-center"><%= notice %></p>
    <% end %>
    
    <% unless alert.nil? %> 
      <p class="text-white bg-red-500 p-2 text-center"><%= alert %></p>
    <% end %>
    
    <%= render 'shared/navbar' %>
    
    <%= yield %>
  </body>
</html>
